[Unit]
Description=IPFS Daemon
After=network.target

[Service]
User=ec2-user
Group=ec2-user
Environment=IPFS_PATH=/home/ec2-user/.ipfs
ExecStart=/usr/local/bin/ipfs daemon --init --migrate
StandardOutput=journal
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target